body{
  background-color: #ddd;
  margin: auto;
  width: 1280px;
}

nav{
  position: fixed;
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
  width: 1280px;
  z-index: 2;
}

nav img{
  height: 40px;
  margin-right: 390px;
}

nav a{
  font-family: "Roboto", sans-serif;
  font-size: 1.4em;
  margin-right: 70px;
  color: #2b2f26;
  text-transform: uppercase;
}

nav a:hover{
  color: #cd5d67;
}

#newsletter-link{
  color: #968772;
}

#newsletter-link:hover{
  color: #cd5d67;
}

.main{
  /*margin-top: 70px;*/
  width: 1310px;
  /*background-color: #f2f1e8;*/
  background-image: url("../images/background-2.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 545px;
}

#card{
  text-align: center;
  font-family: "Merriweather", serif;
  background-color: #fff;
  padding: 40px;
  margin-top: 40px;
}

#card h1{
  margin-top: 0px;
  font-size: 2em;
  font-weight: 200;
}

#card h3{
  font-weight: 400;
  margin-top: -20px;
  margin-bottom: 40px;
}

fieldset{
  border: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /*border: 1px solid red;*/
  padding: 0px;
}

#nameInput{
  color: #757575;
  font-size: 1.4em;
  flex: 1 0 100%;
  margin-bottom: 25px;
  border-style: none;
  border-bottom: 2px solid #968772;
  width: 100%;
  margin-bottom: 40px;
}

#emailInput{
  color: #757575;
  font-size: 1.4em;
  flex: 1 0 100%;
  margin-bottom: 25px;
  border-style: none;
  border-bottom: 2px solid #968772;
  width: 100%;
}

#signupButton{
  height: 55px;
  width: 130px;
  border-style: none;
  background-color: #968772;
  align-self: center;
  color: white;
  font-family: "Roboro", sans-serif;
  font-size: 1.3em;
  font-weight: 200;
}

footer{
  margin-top: -10px;
  width: 1260px;
  background-color: #2B2F26;
  padding: 25px;
  color: white;
  font-size: 1.2em;
}
